{% extends 'base.html.twig' %}
{% block title %}
    chapitres-
 {% endblock %}

 {% block main %}

            <div class="line"></div>

            <div id="conteneur_chapitres">
                <div id="menu_left">
                    <nav>
                        <h2>Tous les Chapitres</h2>
                        <ul>
                            {% for chapitre in chapitres %}
                                    <li><a href="chapitre.php">{{chapitre.titrechapitre}}</a></li>
                            {% endfor %}

                        </ul>
                    </nav>

                    <div class="line"></div>

                    <div id="commentaires_recents" lang="zxx">
                        <h2>Commentaires récents</h2>
                        {% for commentaire in commentaires %}
                            <h5> {{commentaire.nom}} </h5>
                            <P>{{commentaire.messagecomm}}</P>
                            <p> {{commentaire.datecommentaire|date("m/d/Y")}} </p>
                            <br />
                        {% endfor %}
                    </div>
                    
                </div>
                <div class="verticale"></div>
                <div id="chapitres_recents">
                    <h2>Chapitres récemment publiés</h2>
                    
                    {% for chapitre in chapitres %}
                    <article>
                        <h2>{{ chapitre.titrechapitre }}</h2>
                        {{chapitre.imageChapitre }}
                        <p>{{ chapitre.textechapitre }}</p>
                        {% block bouton %}
                            <div class="bouton">
                                <a href="../src/Controller/chapitre.php" target="_blank">Lire la suite</a>
                            </div>
                        {% endblock %}
                    </article>
                        {% block line %}
                        <div class="line"></div>
                        {% endblock %}
                       
                    {% endfor %}
                    
                </div>

            </div>

            <div class="line"></div>
{% endblock %}